@import "tailwindcss";
@plugin "daisyui";

.sommaire {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.sommaire a {
    display: inline-block;
    margin: 10px 20px;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.sommaire a:hover {
    background-color: grey;
    color: white;
}