@import "tailwindcss";
@plugin "daisyui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}
#stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}


.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px cyan;
}

.center-text h1 {
  font-size: 2.5rem;
  color: #00fff7;
  text-shadow: 0 0 10px #00fff7;
}

.center-text p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ccc;
}
.gif-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.gif-btn {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.gif-btn:hover {
  transform: scale(1.1);
}

.add-btn {
  background-color: rgb(2, 255, 242); /* rose */
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.remove-btn {
  background-color: #3a3a3a; /* rouge */
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
